:root {
  --background-primary: #30343f;
  --background-secondary: #252935;
  --background-tertiary: #393e49;
  --header-buttons-background: #191e2b;
  --font-color-primary: #fff;
  --font-color-secondary: #e7e7e7;
}

[data-theme="light-theme"] {
  --background-primary: #e5c29e;
  --background-secondary: #e7bc91;
  --background-tertiary: #f0d6bc;
  --header-buttons-background: #d4a276;
  --font-color-primary: #7f5539;
  --font-color-secondary: ;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: var(--background-primary);
  font-family: "Open Sans", sans-serif;
}

.is-flex {
  display: flex;
}

.hidden {
  display: none;
}

.c-pointer {
  cursor: pointer;
}

.control-input,
.text-button {
  background-color: var(--background-tertiary);
  color: var(--font-color-primary);
  border: none;
}

.header-title {
  background-color: var(--header-buttons-background);
  color: var(--font-color-primary);
  font-weight: 600;
  font-size: 35px;
  text-align: center;
  padding-top: 10px;
}

.buttons-container {
  background-color: var(--header-buttons-background);
  justify-content: center;
  flex-wrap: wrap;
  padding-top: 18px;
  padding-bottom: 15px;
}

.buttons-container button {
  color: var(--font-color-primary);
  margin-right: 12px;
  background: none;
  border: none;
}

.fa-file-image,
.fa-font,
.fa-lightbulb {
  color: var(--font-color-primary);
  margin-right: 4px;
}

/* MEME  */
.meme-container {
  margin: 0 auto;
  max-width: 600px;
  overflow: hidden;
  background-color: #000;
  text-align: center;
}

.meme-text {
  font-size: 40px;
  background-color: #fff;
  color: #000;
  width: 100%;
  margin: 0;
}

.meme-image {
  max-width: 100%;
  height: 500px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

/* ASIDE(s) */
h2 {
  font-size: 18px;
  font-weight: 700;
  text-align: center;
  margin: 30px 0 20px;
}

label {
  font-size: 12px;
  font-weight: 400;
}

.aside-subtitle {
  font-size: 12px;
  font-weight: 700;
  margin-top: 10px;
  margin-bottom: 2px;
}

.close-button {
  background: none;
  border: none;
  font-size: 18px;
  visibility: hidden;
  position: absolute;
  right: 0;
  margin-right: 18px;
  color: var(--font-color-primary);
}

.aside-image-section {
  background-color: var(--background-secondary);
  color: var(--font-color-primary);
  position: absolute;
  top: 0;
  right: 0;
  width: 250px;
  height: 100vh;
  z-index: 1;
}

.image-url-container {
  margin-bottom: 15px;
}

h3,
.filters-control-range,
.reset-button {
  margin-left: 10px;
  margin-bottom: 10px;
}

.url-input {
  border-radius: 3px;
  margin-left: 8px;
  width: 90%;
  height: 23px;
}

.color-input {
  height: 35px;
  width: 35px;
}

.color-input::-webkit-color-swatch {
  border-radius: 15px;
  border: none;
}

.range-color {
  appearance: none;
  width: 90%;
  height: 8px;
  border-radius: 8px;
  margin-top: 5px;
  align-items: center;
}

.meme-color {
  background-color: var(--background-tertiary);
  margin-left: 8px;
  margin-right: 10px;
  border-radius: 3px;
  align-items: center;
}

.reset-button {
  background-color: var(--background-tertiary);
  color: var(--font-color-primary);
  border: none;
  border-radius: 3px;
  margin-top: 16px;
  padding: 12px;
}

.image-filters {
  margin-top: 40px;
}

.filters-control-range {
  display: flex;
  flex-direction: column;
}

.aside-text-section {
  background-color: var(--background-secondary);
  color: var(--font-color-primary);
  position: absolute;
  top: 0;
  right: 0;
  width: 250px;
  height: 100vh;
}

.text-area-container,
.font-container,
.outline-container,
.padding-input,
.line-height-selector {
  margin-left: 10px;
}

.top-text {
  background-color: var(--background-tertiary);
  color: var(--font-color-primary);
  border: none;
}

.bottom-text {
  background-color: var(--background-tertiary);
  color: var(--font-color-primary);
  border: none;
}

.text-color {
  background-color: var(--background-tertiary);
  margin-left: 10px;
  margin-right: 6px;
  border-radius: 3px;
  align-items: center;
}

.text-color-value {
  font-size: 14px;
}

.font-size {
  margin-right: 4px;
}

.transparent-background {
  margin-top: 6px;
  margin-left: 10px;
}

/* BOTÓN DE DESCARGA */
.download-container {
  justify-content: center;
  align-items: center;
}

.download-button {
  background-color: #2e7d32;
  color: var(--font-color-primary);
  margin-top: 25px;
  margin-bottom: 25px;
  border: none;
  border-radius: 3px;
  padding: 15px 30px;
}

.fa-download {
  margin-right: 8px;
}

/* RESPONSIVE */

@media (max-width: 768px) {
  .download-button {
    display: block;
  }
}

@media (min-width: 769px) {
  .download-button {
    display: none;
  }
}

@media (max-width: 700px) {
  .aside-image-section,
  .aside-text-section {
    width: 100%;
    min-width: 100%;
  }
}

@media (max-width: 1280px) {
  .close-button {
    visibility: visible;
  }
}
